.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  font-family: 'Montserrat', sans-serif;
}

form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #2e2f42;
}

form fieldset label,
legend {
  display: inline;
  font-size: 16px;
  color: #2e2f42;
}

input[type='number'] {
  max-width: 360px;
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
}

fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 12px;
}

button[type='submit'] {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}
